= form_for @message do |f|
  - if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name, {required: '', placeholder: "Your Name here"}
  .field
    = f.label :phone
    = f.text_field :phone, {placeholder: "(555) 555-5555"}
  .field
    = f.label :email
    = f.text_field :email, {required: '', placeholder: "Yourname@example.biz"}
  .field.hide
    = f.label :company
    = f.text_field :company, {placeholder: "Write your company name ..."}
  .field.hide
    = f.label :idea
    = f.text_field :idea, {placeholder: "Write your idea here ..."}
  .field
    = f.label :message
    = f.text_area :message, {required: '', placeholder: "Write your message here..."}
  .field.hide
    = f.label :extra
    = f.text_field :extra, {placeholder: "Additional Information"}
  .field
    = f.label :type_website
    = f.text_field :type_website, {value: params[:type_website]}
  .actions
    = f.submit t('form.send'), class: "button success radius"
