%h1 Listing messages

%table
  %tr
    %th Name
    %th Phone
    %th Email
    %th Company
    %th Idea
    %th Message
    %th Extra
    %th Type
    %th
    %th
    %th

  - @messages.each do |message|
    %tr
      %td= message.name
      %td= message.phone
      %td= message.email
      %td= message.company
      %td= message.idea
      %td= message.message
      %td= message.extra
      %td= message.type
      %td= link_to 'Show', message
      %td= link_to 'Edit', edit_message_path(message)
      %td= link_to 'Destroy', message, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Message', new_message_path
