%ul.breadcrumbs
  %li= link_to t('home'), root_path

%h1= t('blogs.blog')
= link_to 'New Blog Page', new_blog_path if user_signed_in? 
%hr
- @blogs.each do |blog|
  %article
    .row
      .columns.small-12
    .row
      - if blog.image.present?
        .columns.large-5
          = link_to (image_tag blog.image_url(:large).to_s), blog.image_url 
        .columns.large-7
          %header
            %h3= link_to blog.name, blog_path(blog)
            %p= truncate_html (markdown blog.content), length: 500
      - else
        .columns.large-12
          %header
            %h3= link_to blog.name, blog_path(blog)
            %p= truncate_html (markdown blog.content), length: 500
    .row
      .columns.small-12
        %p= blog.updated_at
    .row
      .columns.large-12
        %p= link_to 'Read more', blog_path(blog), class: 'button tiny radius'
        %p= link_to 'Edit', edit_blog_path(blog) if user_signed_in?
