.showblog
  %p#notice= notice

  %ul.breadcrumbs
    %li= link_to t('home'), root_path
    %li= link_to t('blog'), blogs_path

  - if @blog.present?
    %h1= @blog.try(:name)
    = markdown @blog.try(:content)
    = manage_blog
  - else
    %h3.big_margin= t('blog.does_not_exist')
