- title @blog.name
- meta_keywords @blog.keyword
- meta_description @blog.summary
.showblog
  %p#notice= notice

  %ul.breadcrumbs
    %li= link_to t('home'), root_path
    %li= link_to t('blog'), blogs_path

  - if @blog.present?
    %h1= @blog.try(:name)
    - if @blog.image.present?
      .main-image
        %ul.clearing-thumbs.clearing-featur{data: {clearing: ""}}
          %li= link_to (image_tag @blog.image_url(:large).to_s), @blog.image_url
    = markdown @blog.try(:content)

.row
  .columns.social
    .social-likes
      .facebook{title: "Share link on Facebook"} Facebook
      .twitter{title: "Share link on Twitter"} Twitter
      .plusone{title: "Share link on Google"} Google
      .pinterest{title: "Share link on Pinterest", data: {media: ""}} Pinterest
.row
  .columns.manage
    = manage_blog
