- title @blog.name
- meta_keywords @blog.keyword
- meta_description @blog.summary
.showblog
  %p#notice= notice

  %ul.breadcrumbs
    %li= link_to t('home'), root_path
    %li= link_to t('blog'), blogs_path

  - if @blog.present?
    %h1= @blog.try(:name)
    = markdown @blog.try(:content)
    = manage_blog

  .social-likes
    .facebook{title: "Share link on Facebook"} Facebook
    .twitter{title: "Share link on Twitter"} Twitter
    .plusone{title: "Share link on Google"} Google
    .pinterest{title: "Share link on Pinterest", data: {media: ""}} Pinterest

