= form_for @message do |f|
  - if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg
  #message
    .row
      #name.small-12.columns
        %label= t('form.name')
        = f.text_field :name, {required: '', placeholder: "Your Name here"}
      #email.small-12.columns
        %label= t('form.email')
        = f.text_field :email, {required: '', placeholder: "Yourname@example.biz"}
      #message.small-12.columns
        %label= t('form.message')
        = f.text_area :message, {required: '', placeholder: "Write your message here..."}
      #send_button.small-12.columns
        = f.submit t('form.send'), class: 'button alert'
