= form_for @message do |f|
  - if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg

  #message
    .row
      #name.small-12.columns
        %label= t('form.name')
        = f.text_field :name, {required: '', placeholder: "Darin Miller"}
      #phone.small-12.columns.hide
        %label= t('form.Phone')
        = f.text_field :phone, {placeholder: "(408) 434-0000"}
      #email.small-12.columns
        %label= t('form.email')
        = f.text_field :email, {required: '', placeholder: "darinmiller@example.biz"}
      #company.small-12.columns.hide
        %label= t('form.company')
        = f.text_field :company, {placeholder: "Write your company name ..."}
      #idea.small-12.columns.hide
        %label= t('form.idea')
        = f.text_field :idea, {placeholder: "Write your idea here ..."}
      #message.small-12.columns
        %label= t('form.message')
        = f.text_area :message, {required: '', placeholder: "Write your message here..."}
      #extra.small-12.columns.hide
        %label= t('form.extra')
        = f.text_field :extra, {placeholder: "Additional Information"}
      #type.small-12.columns.hide
        %label= t('form.type')
        = f.text_field :type_website 
      #send_button.small-12.columns
        = f.submit t('form.send'), class: 'button success'
