%section#price.bg.sections.tools
  .row
    .columns
      %h1 Website Pricing
      %hr
  .row
    .columns.small-6.medium-3
      %ul.pricing-table
        %li.title Nonprofit
        %li.price FREE
        %li.cta-button
          %a.button.switch{href: '#contact_form', data: {action: "button-hire-us", type: 'Noneprofit'}}= t('order_now')

    .columns.small-6.medium-3
      %ul.pricing-table
        %li.title Landing Page
        %li.price > $900
        %li.bullet-item= t('price.mobile')
        %li.bullet-item HTML 5 / CSS 3
        %li.bullet-item= t('price.singlepage')
        %li.cta-button
          %a.button.switch{href: '#contact_form', data: {action: "button-hire-us", type: 'Landing Page'}}= t('order_now')

    .columns.small-6.medium-3
      %ul.pricing-table
        %li.title Standart Website
        %li.price > $1750
        %li.bullet-item= t('price.mobile')
        %li.bullet-item HTML 5 / CSS 3
        %li.bullet-item= t('price.multilingual')
        %li.bullet-item Ruby on rails / Ember.js
        %li.bullet-item= t('price.support')
        %li.cta-button
          %a.button.switch{href: '#contact_form', data: {action: "button-hire-us", type: 'Standart Website'}}= t('order_now')

    .columns.small-6.medium-3
      %ul.pricing-table
        %li.title PRO Web App
        %li.price > $2850
        %li.bullet-item= t('price.mobile')
        %li.bullet-item HTML 5 / CSS 3
        %li.bullet-item= t('price.singlepage')
        %li.bullet-item= t('price.multilingual')
        %li.bullet-item Ruby on rails / Ember.js
        %li.bullet-item= t('price.support')
        %li.bullet-item= t('price.interactive')

        %li.cta-button
          %a.button.switch{href: '#contact_form', data: {action: "button-hire-us", type: 'PRO Web App'}}= t('order_now')
          
