%section#price.sections.tools
  .row
    .columns
      %h1= t('Website_Pricing')
      %hr
  .row
    .columns.small-6.medium-3
      %ul.pricing-table
        %li.title Landing Page
        %li.price <small>starting from</small> $999
        %li.bullet-item= t('price.singlepage')
        %li.bullet-item= t('price.mobile')
        %li.bullet-item HTML 5 / CSS 3
        %li.cta-button= link_to t('order_now'), new_message_path(type_website: "Landing Page"), class: "button secondary radius"

    .columns.small-6.medium-3
      %ul.pricing-table
        %li.title Standard Website
        %li.price <small>starting from</small> $1799
        %li.bullet-item 5-15 pages
        %li.bullet-item= t('price.mobile')
        %li.bullet-item HTML 5 / CSS 3 / JavaScript
        %li.bullet-item= t('price.support')
        %li.bullet-item Domain E-mail
        %li.bullet-item Scrolling or Fixed
        %li.cta-button= link_to t('order_now'), new_message_path(type_website: "Standart Website"), class: "button secondary radius"

    .columns.small-6.medium-3
      %ul.pricing-table
        %li.title E-commerce
        %li.price <small>starting from</small> $2499
        %li.bullet-item up to 50 pages
        %li.bullet-item= t('price.mobile')
        %li.bullet-item HTML 5 / CSS 3 / JavaScript
        %li.bullet-item= t('price.support')
        %li.bullet-item Domain E-mail
        %li.bullet-item Scrolling or Fixed
        %li.bullet-item Shopping cart
        %li.bullet-item E-paymentp
        %li.cta-button= link_to t('order_now'), new_message_path(type_website: "E-commerce"), class: "button secondary radius"

    .columns.small-6.medium-3
      %ul.pricing-table
        %li.title PRO Web App
        %li.price <small>starting from</small> $2850
        %li.bullet-item Ruby on Rails
        %li.bullet-item= t('price.mobile')
        %li.bullet-item HTML 5 / CSS 3 / JavaScript
        %li.bullet-item= t('price.support')
        %li.bullet-item Domain E-mail
        %li.bullet-item Scrolling or Fixed
        %li.bullet-item= t('price.support')
        %li.bullet-item Real-time web
        %li.bullet-item Custom Software
        %li.cta-button= link_to t('order_now'), new_message_path(type_website: "PRO Web App"), class: "button secondary radius"
          
