%section#price.bg.sections.tools
  .row
    .columns
      %h1= t('Website_Pricing')
      %hr
  .row
    .columns.small-6.medium-3
      %ul.pricing-table
        %li.title Nonprofit
        %li.price FREE
        %li.cta-button= link_to t('order_now'), new_message_path(type_website: "Nonprofit"), class: "button secondary radius"

    .columns.small-6.medium-3
      %ul.pricing-table
        %li.title Landing Page
        %li.price <small>starting from</small> $900
        %li.bullet-item= t('price.mobile')
        %li.bullet-item HTML 5 / CSS 3
        %li.bullet-item= t('price.singlepage')
        %li.cta-button= link_to t('order_now'), new_message_path(type_website: "Landing Page"), class: "button secondary radius"

    .columns.small-6.medium-3
      %ul.pricing-table
        %li.title Standard Website
        %li.price <small>starting from</small> $1750
        %li.bullet-item= t('price.mobile')
        %li.bullet-item HTML 5 / CSS 3
        %li.bullet-item= t('price.multilingual')
        %li.bullet-item Ruby on rails / Ember.js
        %li.bullet-item= t('price.support')
        %li.cta-button= link_to t('order_now'), new_message_path(type_website: "Standart Website"), class: "button secondary radius"

    .columns.small-6.medium-3
      %ul.pricing-table
        %li.title PRO Web App
        %li.price <small>starting from</small> $2850
        %li.bullet-item= t('price.mobile')
        %li.bullet-item HTML 5 / CSS 3
        %li.bullet-item= t('price.singlepage')
        %li.bullet-item= t('price.multilingual')
        %li.bullet-item Ruby on rails / Ember.js
        %li.bullet-item= t('price.support')
        %li.bullet-item= t('price.interactive')
        %li.cta-button= link_to t('order_now'), new_message_path(type_website: "PRO Web App"), class: "button secondary radius"
          
