%section#promo.bg
  %hr
  .row.wlc
    %article.medium-4.columns.supporticons
      = image_tag("responsive.svg")
      %h3= t('pages.blocktitle1')
      %p= t('pages.blockcontent1')
    %article.medium-4.columns.supporticons
      = image_tag("ruby.svg")
      %h3= t('pages.blocktitle2')
      %p= t('pages.blockcontent2')
    %article.medium-4.columns.supporticons
      = image_tag("multilingual.svg")
      %h3= t('pages.blocktitle3')
      %p= t('pages.blockcontent3')
  %hr
