%section#team.team.sections.bg
  %header
    .row
      .columns
        %h1= t('Meet_Our_Team')
        %hr
  %article       
    .row
      .columns.small-6.medium-4
        .view
          .thumbnail
            = image_tag("team/brett.png", class: "circle")
            .overlay.circle
              .icon
                %h4
                  %a{href: "mailto:brett@pozitive.biz"} brett@pozitive.biz
                %h4= t('Brett')
                %h5= t('brett_job')
        .description
          %h3= t('Brett')
          %h4= t('brett_job')
          %p= t('teamblock.brett_description')
      .columns.small-6.medium-4
        .view
          .thumbnail
            = image_tag("team/alla.png", class: "circle")
            .overlay.circle
              .icon
                %h4
                  %a{href: "mailto:art@pozitive.biz"} art@pozitive.biz
                %h4= t('Alla')
                %h5= t('alla_job')
        .description
          %h3= t('Alla')
          %h4= t('alla_job')
          %p= t('teamblock.alla_description')
      .columns.small-6.medium-4
        .view
          .thumbnail
            = image_tag("team/dima.png", class: "circle")
            .overlay.circle
              .icon
                %h4
                  %a{href: "mailto:box@pozitive.biz"} box@pozitive.biz
                  %h4= t('Dima')
                  %h5= t('dima_job')
        .description
          %h3= t('Dima')
          %h4= t('dima_job')
          %p= t('teamblock.dima_description')                
    .row
      .columns.small-6.medium-4
        .view
          .thumbnail
            = image_tag("team/denis.png", class: "circle")
            .overlay.circle
              .icon
                %h4
                  %a{href: "mailto:zam@pozitive.biz"} zam@pozitive.biz
                %h4= t('Denis')
                %h5= t('denis_job')
        .description
          %h3= t('Denis')
          %h4= t('denis_job')
          %p= t('teamblock.denis_description')
