%section#team.team
  %header
    .row
      .columns
        %h1= t('About-us')
        %hr
    .row
      .columns
        %h3= t('Meet_Our_Team')
  %hr.white
  %article
    .row
      .columns.small-12.medium-3
        .view
          .thumbnail
            = image_tag("team/dima.png", class: "circle")
            .overlay.circle.hide-for-medium-down
              .icon
                %h4
                  %a{href: "mailto:box@pozitive.biz"} box@pozitive.biz
                %p= t('Dima')
                %p= t('dima_job')
        .description.text-center.hide-for-small-only
          %h4= t('Dima')
          %p= t('dima_job')
      .columns.small-12.medium-3
        .view
          .thumbnail
            = image_tag("team/alla.png", class: "circle")
            .overlay.circle.hide-for-medium-down
              .icon
                %h4
                  %a{href: "mailto:art@pozitive.biz"} art@pozitive.biz
                %p= t('Alla')
                %p= t('alla_job')
        .description.text-center.hide-for-small-only
          %h4= t('Alla')
          %p= t('alla_job')
      .columns.small-12.medium-3
        .view
          .thumbnail
            = image_tag("team/denis.png", class: "circle")
            .overlay.circle.hide-for-medium-down
              .icon
                %h4
                  %a{href: "mailto:zam@pozitive.biz"} zam@pozitive.biz
                %p= t('Denis')
                %p= t('denis_job')
        .description.text-center.hide-for-small-only
          %h4= t('Denis')
          %p= t('denis_job')
      .columns.small-12.medium-3
        .view
          .thumbnail
            = image_tag("team/brett.png", class: "circle")
            .overlay.circle.hide-for-medium-down
              .icon
                %h4
                  %a{href: "mailto:brett@pozitive.biz"} brett@pozitive.biz
                %p= t('Brett')
                %p= t('brett_job')
        .description.text-center.hide-for-small-only
          %h4= t('Brett')
          %p= t('brett_job')
%hr.white
%section#tools.tools
  .row
    .columns
      %h3=t('pages.toolstitle')
      %hr.white
      %ul.small-block-grid-3.medium-block-grid-6.grayscale
        %li
          %a.th
            =image_tag('tools/backbone.png')
        %li
          %a.th
            =image_tag('tools/arch.png')
        %li
          %a.th
            =image_tag('tools/emacs.png')
        %li
          %a.th
            =image_tag('tools/ember.png')
        %li
          %a.th
            =image_tag('tools/hhkb.png')
        %li
          %a.th
            =image_tag('tools/rails.png')
.row
  .columns.small-12
    = @work
