%section#team.team
  %header
    .row
      .columns
        %h1= t('contact_us')
        %hr
        %p Please keep in mind the time difference when calling. We are UTC/GMT +7 hours. If calling from the US, the best time is beteen 8am and 12pm

  %article
    .row
      .columns.small-12.medium-3
        .view
          .thumbnail
            = image_tag("team/dima.png", class: "circle")
            .overlay.circle.hide-for-medium-down
              .icon
                %h4
                  %a{href: "mailto:box@pozitiveit.com"} box@pozitiveit.com
                %p= t('Dima')
                %p= t('dima_job')
        .description.text-center.hide-for-small-only
          %h4= t('Dima')
          %p= t('dima_job')
          %h5 +7 499 7052573 
          %h5
            %a{href: "mailto: box@pozitiveit.com"} box@pozitiveit.com
      .columns.small-12.medium-3
        .view
          .thumbnail
            = image_tag("team/alla.png", class: "circle")
            .overlay.circle.hide-for-medium-down
              .icon
                %h4
                  %a{href: "mailto:art@pozitiveit.com"} art@pozitiveit.com
                %p= t('Alla')
                %p= t('alla_job')
        .description.text-center.hide-for-small-only
          %h4= t('Alla')
          %p= t('alla_job')
          %h5 +855 885541906 
          %h5
            %a{href: "mailto:art@pozitiveit.com"} art@pozitiveit.com
      .columns.small-12.medium-3
        .view
          .thumbnail
            = image_tag("team/denis.png", class: "circle")
            .overlay.circle.hide-for-medium-down
              .icon
                %h4
                  %a{href: "mailto:zam@pozitiveit.com"} zam@pozitiveit.com
                %p= t('Denis')
                %p= t('denis_job')
        .description.text-center.hide-for-small-only
          %h4= t('Denis')
          %p= t('denis_job')
          %h5 +855 78550164
          %h5
            %a{href: "mailto:zam@pozitiveit.com"} zam@pozitiveit.com
      .columns.small-12.medium-3
        .view
          .thumbnail
            = image_tag("team/brett.png", class: "circle")
            .overlay.circle.hide-for-medium-down
              .icon
                %h4
                  %a{href: "mailto:brett@pozitiveit.com"} brett@pozitiveit.com
                %p= t('Brett')
                %p= t('brett_job')
        .description.text-center.hide-for-small-only
          %h4= t('Brett')
          %p= t('brett_job')
          %h5 +1 954-828-2252
          %h5
            %a{href: "mailto:brett@pozitiveit.com"} brett@pozitiveit.com

%section#contact_form.sections
  .row
    .columns
      %h1= t('getresponse')
      %hr
      %h4= t('We_respond')
  = render "message"
