- content_for :hero do
  %section#hero.row
    .columns
      = image_tag("soz.jpg")
      %h1 The best way to create <span>IT</span>
  %hr

- content_for :promo do
  %section#promo.row
    .large-4.columns
      .panel
        %h3 Ruby on Rails Development
        %p In eget pharetra metus, vel mollis massa. Suspendisse vestibulum risus nec libero semper rutrum. Vestibulum vitae venenatis nunc. Nunc at nunc a metus ullamcorper faucibus. Sed a volutpat ipsum. Nulla a faucibus eros, eget sagittis purus. Vestibulum porttitor felis eget urna faucibus porta. Aliquam erat volutpat. Integer luctus, nisi id rhoncus lobortis, est metus fringilla lacus, et vulputate odio velit vitae nisl.
    .large-4.columns
      .panel
        %h3 Representative design
        %p Donec sagittis consectetur metus, eu pharetra urna pellentesque sit amet. Donec nec lectus sem. Sed a feugiat nisl. Sed dapibus imperdiet tortor at faucibus. Vivamus ut massa vel magna dignissim pulvinar eget vehicula ante. Proin consequat tincidunt nibh id fermentum. Cras a urna in sapien pellentesque pulvinar sollicitudin eu nisl. Pellentesque non tempor lacus. Praesent a facilisis leo. Sed nulla leo, tristique ac odio non, consequat commodo tortor. Fusce mi est, eleifend ac pretium eu, tempus sed odio. Integer sagittis condimentum rutrum. Aliquam a lorem a felis pretium euismod.
    .large-4.columns
      .panel
        %h3 International SEO
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacinia eget justo at malesuada. Ut in magna eu enim iaculis lobortis. Cras ut metus fringilla, condimentum ante at, commodo odio. Cras molestie fringilla mi, porta faucibus neque malesuada sed. Duis ac mauris quis neque vestibulum ultricies cursus vel est. Mauris mi sapien, tempus ut quam vel, laoreet vulputate turpis. Proin a porta dui. Maecenas posuere risus in interdum tempus. Mauris felis ante, vehicula nec lacinia sagittis, placerat a tortor. In elementum eu felis ac dapibus. Suspendisse porttitor non quam id faucibus.
    %hr


%h1 Listing pages

%table
  %tr
    %th Name
    %th Permalink
    %th Content
    %th
    %th
    %th

  - @pages.each do |page|
    %tr
      %td= page.name
      %td= page.permalink
      %td= page.content
      %td= link_to 'Show', page
      %td= link_to 'Edit', edit_page_path(page)
      %td= link_to 'Destroy', page, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Page', new_page_path
