%h1 List of Pages
= link_to 'New Page', new_page_path if admin_signed_in? 
%hr
- @pages.each do |page|
  %article
    %header
      %h3= link_to page.name, page_path(page)
    %p= truncate_html page.content, length: 500
    %p= link_to 'Read more', page_path(page), class: 'button tiny'
    %p= link_to 'Edit', edit_page_path(page) if admin_signed_in?
