.row
  .columns
    %header
      %p#notice= notice
      %h1
        = @page.name
    %article
      %p
        = simple_format @page.content

    %nav
      = link_to 'Edit', edit_page_path(@page)
      \|
      = link_to 'Back', pages_path
