- content_for :top do
  = render "hero"
  = render "promo"
  = render 'portfolio'
  = render "hireus"

- content_for :bottom do
  = render "team"
  = render "tools"
  = render "price"
  = render "contact"



.row
  .columns.small-12
    %h2= t('pages.our_work')
    %p= t('pages.our_workcontent')
  .columns.small-12.medium-6
    %h2= t('pages.our_team')
    %p= t('pages.our_teamcontent')
  .columns.small-12.medium-6
    %h2= t('pages.our_process')
    %p= t('pages.our_teamcontent')
