- content_for :hero do
  = render "hero"

- content_for :promo do
  = render "promo"

- content_for :hireus do
  = render "hireus"

- content_for :tools do
  = render "tools"

.row.wlc
  .columns.small-12
    %h2= t('pages.our_work')
    %p= t('pages.our_workcontent')
  .columns.small-12.medium-6
    %h2= t('pages.our_team')
    %p= t('pages.our_teamcontent')
  .columns.small-12.medium-6
    %h2= t('pages.our_process')
    %p= t('pages.our_teamcontent')
