- content_for :top do
  = render "hero"
  = render "promo"
  = render 'portfolio'
  = render "hireus"

- content_for :bottom do
  = render "team"
  = render "tools"
  = render "price"
  = render "contact"



.row.sections
  .columns.small-12
    = @work
  .columns.small-12
    = @process
