- content_for :top do
  - if notice.present?
    .alert-box.no-margin{data: { alert: ""}}
      #notice= notice 
      %a.close{href:"#"} &times;
  = render "hero"
  = render "promo"
  = render "portfolio"

= render "price"

- content_for :bottom do
  = render "contact"
