%header
  %nav.top-bar{data: {topbar: "", options: "is_hover: false"}}
    %ul.title-area
      %li.name
        %h1#logo
          = link_to ("POZ" + image_tag('logo.png',  width: '50') + "IVE").html_safe, root_path
      %li.toggle-topbar.menu-icon
        %a{href: "#"}
          %span Menu
    %section{class: "top-bar-section"}
      %ul{class: "right"}
        %li.has-dropdown
          = link_to "Languages", locale: "en"
          %ul.dropdown
            %li= link_to "English", locale: "en"
            %li= link_to "Русский", locale: "ru"
            %li= link_to "简体中文", locale: "zh-CN"
        - Page.all.each do |page|
          %li= link_to page.name, page

