%header#header.sticky
  %nav.top-bar.shadow{data: {topbar: ""}}
    %ul.title-area
      %li.name
        %h1#logo
          = link_to ("POZ" + image_tag('logo.png', size: "55") + "IVE").html_safe, root_path
      %li.toggle-topbar.menu-icon
        %a{href: "#"}
          %span Menu
    %section.top-bar-section
      %ul#navbar.right
        %li.divider
        %li
          %a{href: "/#{I18n.locale}/#services"}= t('services')
        %li.divider
        %li
          %a{href: "/#{I18n.locale}/#portfolio"}
            = t('works')
        %li.divider
        %li
          %a{href: "/#{I18n.locale}/#content"}
            = t('process')
        %li.divider
        %li
          %a{href: "/#{I18n.locale}/#team"}
            = t('team')
        %li.divider
        %li
          %a{href: "/#{I18n.locale}/#price"}
            = t('pricing')
        %li.divider
        %li
          %a{href: "/#{I18n.locale}/#contact_form"}
            = t('contact')
        %li.divider
        %li.has-dropdown
          = link_to "LANGUAGES", locale: "en"
          %ul.dropdown
            %li= link_to "ENGLISH", locale: "en"
            %li= link_to "РУССКИЙ", locale: "ru"
            %li= link_to "简体中文", locale: "zh-CN"
        %li.divider
        %li.has-form
          %a.button.tiny.success.radius.switch{ data: {action: "button-kick--project"}}= t('jumpproject')
        = link_to "Sign out", destroy_user_session_path, :method => :delete, class: "button tiny radius" if user_signed_in?
