%header.fixed
  %nav.top-bar.shadow{data: {topbar: "", options: "is_hover: false"}}
    %ul.title-area
      %li.name
        %h1#logo
          %a.smooth{href: "#intro"}= ("POZ" + image_tag('logo.png',  width: '44') + "IVE").html_safe
      %li.toggle-topbar.menu-icon
        %a{href: "#"}
          %span Menu
    %section{class: "top-bar-section"}
      %ul{class: "right"}
        %li.divider
        %li
          %a.smooth{href: "#services"}
            = t('services')
        %li.divider
        %li
          %a.smooth{href: "#portfolio", data: { no_turbolink: true }} 
            = t('works')
        %li.divider
        %li
          %a.smooth{href: "#content"}
            = t('process')
        %li.divider
        %li
          %a.smooth{href: "#team"}
            = t('team')
        %li.divider
        %li
          %a.smooth{href: "#price"}
            = t('pricing')
        %li.divider
        %li
          %a.smooth{href: "#contact_form"}
            = t('contact')
        %li.divider
        %li.has-dropdown
          = link_to "LANGUAGES", locale: "en"
          %ul.dropdown
            %li= link_to "ENGLISH", locale: "en"
            %li= link_to "РУССКИЙ", locale: "ru"
            %li= link_to "简体中文", locale: "zh-CN"
        %li.divider
        %li.has-form
          %a.button.tiny.success.radius.switch{href: '#contact_form', data: {action: "button-kick-project"}}= t('jumpproject')
        = if user_signed_in?
          %li.divider
          %li.has-form
            = link_to "Sign out", destroy_user_session_path, :method => :delete, class: "button tiny radius"
